body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 20px 0;
}

.header-container {
    background-color: MediumPurple;
    width: 100%;
    height: 200px;
    /* Увеличиваем высоту контейнера */
}

.header_text{
    font-size: 25px;
}

.content {
    overflow: hidden;
    display: flex;
}

.left {
    width: 50%;
    padding: 75px;
}

.right {
    width: 50%;
    padding: 20px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); /* Прозрачная рамка */
}

.content-container {
    background-color: MediumPurple;
    width: 100%;
    height: 950px;
}

ul li:hover {
    color: purple;
    cursor: pointer;
}

.popup-container {
    border: 1px solid #ccc;
    padding: 20px;
}

.popup-container img {
    max-width: 100%;
    height: auto;
}


.links-container {
    width: 100%;
    box-sizing: border-box;
    /* Учитываем границу в общей ширине */
    padding: 20px;
    background-image: url('fon.jpg'); /* Замените 'path/to/your/image.jpg' на путь к вашей фотографии */
    background-size: cover;
    background-position: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.links a {
    flex-basis: 33.33%;
    box-sizing: border-box;
    /* учитываем границы внутриширинных элементов */
    padding: 10px;
    margin: 5px;
    /* добавим небольшие отступы между элементами */
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
}



.links a:hover {
    color: #ffffff;
}

.links-container {
    position: fixed;
    bottom: 0;
    width: 25%;
    box-sizing: border-box;
    padding: 1px 20px;
    /* Увеличиваем отступы сверху и снизу */
    margin-top: 40px;
    /* Сдвигаем контейнер чуть ниже */
    background-color: pink;
    border: 2px solid #333;
}
